<link rel="stylesheet" href="/assets/css/gobal.css">
<link rel="stylesheet" href="/components/sidebar/sidebar.css">

<aside>
      <section class="first__section">
        <div class="sidebar__menu sidebar__uppersection">
            <div class="sidebar__logo text">
              <img class="logo" src="/assets/images/checkedbox.svg" alt="">
            </div>
            
            <p class="sidebar__title text">Task Master</p>
            <div class="sidebar__collaps" id="collaps">
                  <img id="arrow" src="/assets/images/left-arrow.svg" alt="">
            </div>
        </div>

        <div class="sidebar__menu sidebar__profile">
            <div class="sidebar__intial">K</div>
            <div  class="sidebar__credetials">
                <p class="text">Ketty Kasule</p>
                <span class="text">ketty@gmail.com</span>
            </div>
        </div>
        <nav class="navbar">
           <a href="/dashboard.html"><div  class="sidebar__menu navbar__list dashboard">
                <img class="navbar__icons navbar__list" src="/assets/images/dashboard.svg" alt="dashboard">
                <p class="text">Dashboard</p>
            </div></a>
            <a href="/tasks.html"><div  class="sidebar__menu navbar__list">
                <img class="navbar__icons" src="/assets/images/checkbox2.svg" alt="checkedbox">
                <p class="text">Tasks</p>
            </div></a>
            <div  class="sidebar__menu navbar__list">
                <img class="navbar__icons" src="/assets/images/community.svg" alt="community">
                <p class="text">Community</p>
            </div>
            <div  class="sidebar__menu navbar__list">
                <img class="navbar__icons" src="/assets/images/dollar.svg" alt="dollar">
                <p class="text">Expenses</p>
            </div>
            <div  class="sidebar__menu navbar__list">
                <img class="navbar__icons" src="/assets/images/file.svg" alt="file">
                <p class="text">Notes</p>
            </div>
            <div  class="sidebar__menu navbar__list">
                <img class="navbar__icons" src="/assets/images/settings.svg" alt="settings">
                <p class="text">Settings</p>
            </div>
        </nav>
    </section>
    <section class="last-section">
        <div  class="sidebar__menu navbar__list logout" id="logout">
            <img class="navbar__icons" src="/assets/images/logout.svg" alt="logout">
            <p class="text">Logout</p>
        </div>
    </section>

</aside>
  

<script src="/components/sidebar/sidebar.js"></script>