aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;       
    background-color: var(--white);
    font-family: Arial, sans-serif;
    padding:15px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;

}

.first__section {
    display: flex;
    flex-direction: column;
}

.sidebar__uppersection{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray);
}

.sidebar__logo {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 8px;
}

.logo {
    height: 22px;
    width: 22px;
}

.sidebar__title {
    font-weight: bold;
    font-size: 18px;
    color: #222;
}

.sidebar__collaps {
    margin-left: auto;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.sidebar__collaps:hover {
    background-color: var(--skyblue);
}

.sidebar__profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray);
}

.sidebar__intial {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.text{
    margin: 0;
    /* font-weight: 600; */
}

a{
    text-decoration: none;  
    color: inherit;
}


.sidebar__credetials span {
    margin-top: -2px;
    font-size: 12px;
    color: var(--gray);
}

.navbar {
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    gap: 5px;
    margin-top: 20px;
    width: 100%;
}

.navbar__list{
    display: flex;
    gap: 10px;
    align-items: center;
    padding:7px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar__list:hover {
    background-color: var(--lightgray);
}

.navbar__icons {
    width: 20px;
    height: 20px;
}

.logout {
    width: 200px;
    position: fixed;
    bottom: 1px;
    color: var(--red);
    padding: 10px 12px;
    border-radius: 8px;
}

.logout:hover {
    background-color: rgb(245, 148, 148);
}


.hidden {
    display: none;
}









































































