



main{
    font-family: Arial, sans-serif;
    background-image: url(/assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    /* background-color: #f5f7fa; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}