.inputs{
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.creditials{
    width: 100%;
    height: auto;
   }

label{
    color: var(--text);
    font-weight: bold;
    font-size: 14px;
}

img{
    width: 20px;
    height: 20px;
}

.input__fields{
    display: flex;
    gap: 4px;
    align-items: center;
     border: 1px solid var(--gray);
    border-radius: 8px;
    padding: 8px;
    /* margin-top: 7px; */
}

input{
    border: none;
    background-color: transparent;
    font-size: 16px;
}

input:focus{
    outline: none;
    border: none;    
    box-shadow: none; 
}