




<link rel="stylesheet" href="../../assets/css/gobal.css">
<link rel="stylesheet" href="./input.css">


<div class="creditials">
    <label for="email">Email Address*</label>
  <div class="input__fields">
    <img src="../../assets/images/email.svg" alt="email">
    <input type="email" placeholder="hello@example.com">
   </div>
</div>

<div class="creditials">
    <label for="email">Email Address*</label>
  <div class="input__fields">
    <img src="../../assets/images/lockedPassword.svg" alt="email">
    <input type="password" ">
   </div>
</div>
