.task{
  width: 100%;
  height: 40px;
  /* padding: 10px; */
  /* margin-bottom: 12px;  */
  display: flex;
  background: #eef3ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  line-height: 0%;
}

.task:hover{
    background-color:var(--skyblue);
}

.action{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task__details{
  line-height: 0%;
}
