.task{
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  background: #eef3ff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}

.task:hover{
    background-color:var(--skyblue);
}
