section{
    display: flex;
    gap: 10px;
    background-color: var(--background);
}

/* .right-section{ */
    /* width: 20%; */
    /* border: 2px solid red; */
/* } */

.left-section{
    /* width: 80%; */
    border: 2px solid green;
}