section{
    display: flex;
    gap: 10px;
    background-color: var(--background);
}


.left-section{
    align-items: center;
    width:100%;
}

.overview{
     gap: 20px;
}

.overview__cards{
    width: 50%;
    background-color:var(--white);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.overview__title h4{
    margin-bottom: 20px;
}

.overview__title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.recent-tasks2{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
  font-size: 26px;
  font-weight: 700;
}

header p {
  color:var(gray);
  margin-top: 5px;
}


