.logo{
    width: 80px;
    height: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue);
    position: relative;
}

.checkedbox{
    width: 40px;
    height: 40px;
}

.circle{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -12;
    right: -14;
}