.card{
    height: 100%;
    padding: 10px;
    display: flex;
    gap: 20px;
    margin: 30px 0;
    justify-content:space-between; 
}

.card__uppersection{
    display: flex;
    justify-content: space-between;
}

.contianer{
    background:var(white);
     padding: 20px;
     border-radius: 12px;
     border: var(gray);
     line-height: 10px;
  }

.container:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.5); 
} 

.amount h3{
  margin: 8px 0 4px;
  font-size: 24px;
}

/* .amount h6{
  
} */

.contianer .value {
     font-size: 24px;
     font-weight: bold;
 }

 