.buttons{
    width: 98%;
    background-color: var(--light-Gray);
    display:flex;
    gap: 8px;
    padding: 5px;
    border-radius: 12px;
}


.actionbutton{  
    width: 50%;
    padding: 10px 0;
    border: none;
    color:black;
    border-radius: 6px;
    font-size: 16px;
    cursor:pointer;
    background-color: transparent ;

}

