




.buttons{
    width: 98%;
    background-color: var(--Gray);
    /* margin: 0px 0px 24px; */
    display:flex;
    gap: 8px;
    padding: 5px;
    border-radius: 12px;
}


.actionbutton{  
    width: 50%;
    padding: 10px 0;
    border: none;
    color:black;
    border-radius: 6px;
    font-size: 16px;
    cursor:pointer;
    background-color: transparent ;

}


.actionbutton:hover{
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}