div{
    width: 100%;
    background-color: var(--Gray);
    margin: 0px 0px 24px;
    display:flex;
    gap: 8px;
    padding: 6px;
}


button{  
    width: 50%;
    padding: 8px 16px;
    border: none;
    color:black;
    border-radius: 6px;
    cursor:pointer;
    background-color: transparent ;

}


button:focus-visible{
  background-color: #4caf50 !important;
  color: white;
  outline: none;
}