.card{
    background-color: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.1);
    /* text-align: center; */
}

.card__uppersection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
}

.logo-icons{
    position: relative;
}

.logo{
       width:80px;
       height: 80px;

}

.send{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 300px;
    top: 50px;
    animation: float 2s ease-in-out infinite;

}

@keyframes float {
   0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

form{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 20px;
}

h1{
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

p{
    color: var(--Gray);
    margin-top: 5px;
    margin-bottom: 20px;
}

