



.card{
    background-color: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.1);
    /* text-align: center; */
}

.card__uppersection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
}

form{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 10px;
}

h1{
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}

p{
    color: var(Gray);
    margin-top: 5px;
    margin-bottom: 20px;
}